.backgrounds {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-1);
  box-sizing: border-box;
}
.icons,
.totalBets1 {
  position: relative;
  line-height: 96.82%;
  font-weight: 700;
}
.totalBets1 {
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.iconsParent,
.totalBets {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconsParent {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs-1);
  gap: var(--gap-5xs-1);
  z-index: 1;
}
.totalBets {
  width: 198.1px;
  flex-direction: row;
  padding: var(--padding-xl-7) var(--padding-34xl) var(--padding-2xl-1);
  box-sizing: border-box;
  position: relative;
}
.totalEarningsChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-1);
}
.coins,
.totalEarnings1 {
  position: relative;
  line-height: 96.82%;
  font-weight: 700;
}
.totalEarnings1 {
  font-size: var(--font-size-mini);
  font-weight: 500;
  color: var(--neutral-13);
}
.coinsParent,
.totalEarnings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.coinsParent {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs-1);
  gap: var(--gap-4xs-9);
  z-index: 1;
}
.totalEarnings {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-lgi-8) var(--padding-54xl) var(--padding-xl-2);
  box-sizing: border-box;
  position: relative;
  min-width: 109px;
  color: var(--color-limegreen);
}
.totalLossesChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-1);
}
.coins1,
.totalLosses1 {
  position: relative;
  line-height: 96.82%;
  font-weight: 700;
}
.totalLosses1 {
  font-size: var(--font-size-mini);
  font-weight: 500;
  color: var(--neutral-13);
}
.coinsGroup,
.livedataemptystate,
.totalLosses {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.coinsGroup {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs-1);
  gap: var(--gap-4xs-9);
  z-index: 1;
}
.livedataemptystate,
.totalLosses {
  flex-direction: row;
}
.totalLosses {
  width: 228.2px;
  padding: var(--padding-lgi-8) var(--padding-39xl) var(--padding-xl-2);
  box-sizing: border-box;
  position: relative;
  color: var(--color-red);
}
.livedataemptystate {
  flex: 1;
  gap: var(--gap-base-1);
  min-width: 478px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--neutral-13);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 750px) {
  .livedataemptystate {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .coins,
  .icons {
    font-size: var(--font-size-base);
    line-height: 15px;
  }
  .totalEarnings {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .coins1 {
    font-size: var(--font-size-base);
    line-height: 15px;
  }
}
